:root {
  --primary-background : rgba(30 41 59);
  /* e--primary-background */
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(15 23 42);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  margin: 0;
  /* Các giá trị định dạng khác của bạn */
}

.app {
  background-image: url("abum/bg-light.png");
  background-size:cover;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  width: 100%;
  height: 74px;
  padding: 16px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  border-bottom: solid 1px rgb(29 37 55);
  z-index: 1;
  backdrop-filter: blur(5px);
}


.headerLeft {
  display: flex;
}

.logo {
  width: 150px;
  height: 42px;
  object-fit: contain;
}

.headerSearch {
  width: 212px;
  height: 40px;
  background: rgb(30, 41, 59);
  border: solid rgb(131, 137, 151) 1px ;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(107 114 128);
  margin-left: 12px;
  overflow: hidden;
}

.headerInput, .headerInput::placeholder {
  background-color: rgb(30, 41, 59);
  color: rgb(131, 137, 151);
  font-weight: 500;
  font-size: 13.4px;
  border: none;
outline: none;
}

.headerSearch i {
  padding-right: 6px;
  padding-left: 8px;
  color: rgb(131, 137, 151);
  font-size: 15px;
}

.headerNav {
  display: flex;
  align-items: center;
}

.category {
  display: flex;
  list-style-type: none;
  color: rgb(204 211 221);
  align-items: center;
  margin-right: 30px;
}

.categoryitem{
  margin-left: 31.5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8rem;
}

.categoryitemLink {
  color: rgb(204 211 221);
  text-decoration: none;
}

.category li:hover,.categoryitemLink:hover {
  cursor: pointer;
  color:  #36b6ef;
}


.categoryItems {
  color: rgb(239 68 68);
}

.categoryIcon {
  position: relative;
  font-size: 12px;
  margin-left: 12px;
  font-size: 11px;
  bottom: 4px;
}

.headerLight {
  font-size: 22px;
  transform: rotateX(30deg);
  padding: 0 4px 0 28px;
  border-left: solid #7b808bb9 1px;
  color: #9d9c9c;
}

.HeaderItem {
  position: relative;
}

.headerShow {
  position: absolute;
  width: 446px;
  background-color: #1e293b;
  border-radius: 6px;
  top: 58px;
  right: 0;
  pointer-events: none;
}

.headerShowBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 6px 22px;
}

.headerShowItems {
  width: 110px;
  color: #fff;
  font-size: 14px;
  font-weight: 450;
  line-height: 2.2rem;
  text-align: center;
  border-radius: 6px;
  border: none;
  background: none;
  pointer-events: auto
}

.headerShowItems:hover {
  background-color: rgba(123, 112, 193, 0.896);  
  cursor: pointer;
}

.block {
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  animation: opasity 0.3s ease;
}

.block.active {
  opacity: 1;
  transform: scale(1);
}

@keyframes opasity{
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container {
  margin-top: 74px;
}

.containerText {
  color: #36b6ef;
  font-size: 14px;
  margin: 1em 0 4px;
  font-weight: 600;
}

.containerTitle {
  padding: 2px 8px 0;
  line-height: 1.5rem;
}

.containerNav {
  display: flex;
  margin: 0 8px;
  justify-content: space-between;
}

.containerSlider {
  width: 368px;
  height: 64px;
  border-radius: 8px;
  text-align: center;
  padding: 8px 0 0 0;
  background: linear-gradient(to right, rgb(31 41 55), rgb(55 65 80));
  box-sizing: border-box;
}

.sliderTop {
  line-height: 1.75rem;
  color: rgba(14, 164, 233, 0.914);
}

.sliderTop i {
  padding-right: 3px;
}

.containerSliderColor {
  color: rgb(249 115 22);
}

.containerSliderTele {
  font-size: 1.6rem;
}

.sliderSpan {
  font-size: 1.25rem;
  padding-left: 3px;
}

.sliderTitle {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0;
  color: rgb(156 163 175);
}

.containerList {
  margin: 8px;
  border-radius: 8px;
  background: var(--primary-background);
  border-bottom: solid 1px #6a717f;
  overflow: hidden;
}

.containerItem {
  width: 100%;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.containerHeader {
  padding: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 12px;
  text-align: left;
  box-sizing: border-box;
  font-weight: 500;
  border-bottom: solid 1px #4b5563;
  display: flex;
}

.containerHeaderItem {
  width: 46.9%;
}

.containerHeaderItem5 {
  width: 17.1%;
}

.containerHeaderItem4 {
  width: 14.8%;
}

.containerHeaderItem3 {
  width: 8.3%;
}

.containerHeaderItem2 {
  width: 10.3%;
}

.containerHeaderItem1 {
  width: 4.6%;
}

.containerForm {
  padding-top: 16px;
}

.containerHeaderImg {
  width: 48px;
  height: 64px;
  border-radius: 6px;
}

.containerCategari {
  display: flex;
}

.containerName {
  line-height: 0.55rem;
  padding-left: 1rem;
}

.containerName h2 a{
  color: rgb(139 92 246);
  font-size: 1rem;
  font-weight: 500;
}

.containerName h2 a, .containerName h3 a {
  text-decoration: none;
}

.containerName h3 a {
  color: rgb(219 221 226);
  font-size: 0.9rem;
  font-weight: 400;
}

.containerHeaderItem2 span {
  background: #10192d;
  padding: 1px 8px 3px;
  border-radius: 10px;
  margin: auto 0;
  color: #42c176;
}

.containerHeaderItem1 h3 {
  margin: auto 0;
  font-weight: 400;
}

.containerHeaderItem3 span, .containerHeaderItem4 span,.containerHeaderItem5 span {
  margin: auto 0;
  font-size: .9rem;
  font-weight: 400;
}

.containerList2{
  color: #fff;
  height: 60px;
  padding: 0px 1.2rem;
  background: #10192d;
  display: flex;
  align-items: center;
  border-top: solid 1px #6a717f;
  margin-top: -2px;
  justify-content: space-between;
}

.containerList2Item {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 6rem;

}

.containerList2Item span {
  font-weight: 500;
}

.containerListItem2 {
  width: 282x;
  height: 38px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
}

.pageNumber {
  width: 40px;
  background: #10192d;
  border: solid 1px #4b5563;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(157 161 169);
  border-right: none;
}

.pageNumber:hover, .pageNumber1:hover, .pageNumber2:hover {
  background: #111827;
  cursor: pointer;
}

.active{
  color: rgb(79 70 229);
}

.pageNumber1 {
  width: 40px;
  background: #10192d;
  border: solid 1px #4b5563;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(55 65 81);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: solid 1px #4b5563;
}

.pageNumber2 {
  width: 40px;
  background: #10192d;
  border: solid 1px #4b5563;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(55 65 81);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.footer {
  height: 200px;
  color: #5a6980;
  margin-top: 74px;
  background-color: rgb(15 23 42);
  font-size: 0.9rem;
  border-top: solid 1px #1a2234;
}

.footerItems, .footerItems a {
  display: flex;
  align-items: center;
  color: #5a6980;
  text-decoration: none;
}

.footerItems a {
  padding: 0 10px;
  border-left: solid 1px #4b556367;
}

.footerItems p {
  padding-right: 10px;
}

.fillter {
  display: flex;
  height: 66px;
  align-items: center;
  border-radius: 6px;
  background: var(--primary-background);
  margin: 0 8px;
}

.fillterItem {
  padding: 16px;
  color: #fff;
  display: flex;
}

.fillterItems {
  width: 66%;
  display: flex;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
}

select:focus {
  outline: solid 2px rgb(27, 107, 228); 
}

.fillterCartegory {
  color: #fff;
  padding: 11px 8px;
  border-radius: 6px;
  background: rgb(51,65,85);
  box-sizing: border-box;
  font-size: 0.9rem;
}

.fillterBoxSubmit {
  padding: 10px;
  border: none;
  background-color: rgba(123, 112, 193, 0.896);  
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.fillterCartegorychild {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fillterBoxSubmit:hover .fillterCartegorychild{
  background-color: rgba(251, 248, 248, 0.233);
  z-index: 11;
}


.pageHere {
  display: flex;
  height: 56px;
  padding: 0 10px;
  color: rgb(148,163,184);
  align-items: center;
  margin: 0 8px;
  border-bottom: solid 1px rgb(29 37 55);
}

.pageHereItems {
  padding: 0 10px;
  font-size: 0.88rem;
}

.pageHereHome {
  text-decoration: none;
  color: rgb(148,163,184);
}

.pageHereLink {
  color: rgb(148,163,184);
  text-decoration: none;
}

.pageHereItem {
  color: #fff;
  font-weight: 600;
}

.pageHereRight {
  font-size: 0.66rem;
}

.titleHere {
  margin-left: 8px;
  color: rgb(96,89,195);
  font-weight: 500;
  font-size: 1.5rem;
}

